<{include "public/header.html"}>
<style>
    .label{
        font-size: 16px;
    }
    #search_logistics{
        text-align: left;
        position:relative;

    }
    .autocomplete{
        border: 1px solid #9ACCFB;
        background-color: white;
        text-align: left;
    }
    .autocomplete li{
        list-style-type: none;
    }
    .clickable {
        cursor: default;
    }
    .highlight {
        background-color: #9ACCFB;
    }
</style>
<script type="text/javascript" src="<{$res}>/bootstrap/js/config.js"></script>
<script type="text/javascript" src="<{$res}>/bootstrap/js/function.js"></script>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加合作商外链</h5>
                    <div class="ibox-tools">
                        <a target="_self"  href="<{$url}>" style="cursor:pointer;margin-left: 10px;z-index: 1000" class="label label-success" >
                            返回合作商列表
                        </a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" target="_self" method="post" enctype="multipart/form-data" action="<{$url}>/add" id="signupForm">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">合作商名称：</label>
                            <div class="col-sm-8">
                                <input id="firstname" name="link_name" class="form-control" value="" type="text">
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 填写合作商公司名字</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">合作商介绍：</label>
                            <div class="col-sm-8">
                                <input  name="link_pname" class="form-control" value="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">链接地址：</label>
                            <div class="col-sm-8">
                                <input  name="link_url" class="form-control" value="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">合作商LOGO：</label>

                            <div class="col-sm-8">
                                <label>
                                    <input type="file" multiple="multiple" id="input_img" style="display: none;" name="link_pic" value="" onchange="javascript:setImagePreview('input_img','preview','localImage');">
                                    <a style="text-align: center">
                                        <div id="localImage">
                                            <img id="preview" src="<{$res}>/bootstrap/img/a1.jpg" style="margin:0 auto .1rem;display: block; width: 200px; height: 200px;">
                                        </div>
                                        <h4>选择分类栏目展示图&nbsp;50x50</h4>
                                        <div style="clear: both;"></div>
                                    </a>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <input type="hidden" name="sub" value="ok">
                                <input type="hidden" name="default_pid" value="<{$pid}>">
                                <input class="btn btn-primary"  type="submit" value="添加">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="<{$res}>/bootstrap/js/jquery.min.js?v=2.1.4"></script>
<script src="<{$res}>/bootstrap/js/bootstrap.min.js?v=3.3.5"></script>
<script src="<{$res}>/bootstrap/js/content.min.js?v=1.0.0"></script>
<script src="<{$res}>/bootstrap/js/plugins/validate/jquery.validate.min.js"></script>
<script src="<{$res}>/bootstrap/js/plugins/validate/messages_zh.min.js"></script>
<script src="<{$res}>/bootstrap/js/demo/form-validate-demo.min.js"></script>


<script>
    $(function(){
        /* 默认上级ID start */
        var default_pid = $("input[name='default_pid']").val();
        if(default_pid){
            $("select[name='cls_pid']").find("option[value='"+default_pid+"']").attr("selected",true);
        }

    });
</script>
</body>

</html>