<{include "public/index_header.html"}>
	
	<!--导航-->
		<div class="about_listty_title">
			<div class="about_listt_max">
				<ul>
					<li>
						<a href="#" class="listtavt">精装新房</a>
					</li>
					<li>
						<a href="#">房屋租赁</a>
					</li>
					<li>
						<a href="#">精选二手</a>
					</li>
					<li>
						<a href="#">精选二手</a>
					</li>
				</ul>
			</div>	
		</div>
		<!--/导航-->
	
	<!--案例-->
	<section class="b_bargin" style="background: #fff;margin-bottom: 10px;">
		<!--详情-->
			<div class="business_max" style="padding-bottom: 0px;">
				<div class="shop_nows_max">
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img1.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								水泥行业环保检查课题顺 利通过验收
							</div>
						</a>
					</div>
					<!--/列-->
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img1.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								水泥行业环保检查课题顺 利通过验收
							</div>
						</a>
					</div>
					<!--/列-->
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img1.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								水泥行业环保检查课题顺 利通过验收
							</div>
						</a>
					</div>
					<!--/列-->
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img1.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								水泥行业环保检查课题顺 利通过验收
							</div>
						</a>
					</div>
					<!--/列-->
				</div>
			</div>
		<!--详情-->
		
	</section>
	<!--/案例-->
	
	
	<!--新闻-->
	<section class="b_bargin" style="background: #fff;">
		<div class="json_maxet">
			<div class="infor_max" style="display: block;">
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
				</div>
				<!--/行业咨询-->
		</div>
		
		
		
	</section>
	<!--新闻-->
		
		
		
		
		
		<!--右侧侧边部分-->
		<!-- 公用底部 start -->
		<{include "public/footer.html"}>
		<!-- 公用底部 end -->
		<!--/右侧导航-->
		
		
		
	</body>
	<!--轮播图...辅助样式-->
<script src="<{$res}>/js/index.js"></script>	
<script src="<{$res}>/js/simpler-sidebar.min.js"></script>	
<script type="text/javascript">
	$(".title_list_lays span").click(function(){
		$(".title_list_lays span").removeClass("acterlay");
		$(this).addClass("acterlay");
	});
	$(".tebiek").click(function(){
		$(".infor_max").css("display","block");
		$(".infor_select").css("display","none");
	});
	$(".liuyang").click(function(){
		$(".infor_max").css("display","none");
		$(".infor_select").css("display","block");
	});
</script>
<script type="text/javascript">
	var list_length=$(".about_listt_max ul li").length;
			console.log(list_length)
			var list_width=list_length*118;
			$(".about_listt_max ul").css("width",list_width+"px");
$(function() {
//		返回顶部
		$("#up_top").click(function(){
	        $('html').animate({scrollTop:0},500);
	   });
//------------------------------------------------------------------------------------ 	
//      导航
		$('#dowebok').simplerSidebar({
			opener: '#toggle-sidebar',
			sidebar: {
				align: 'right',
				width: 200
			}
		});
			
	   	
	   	
//------------------------------------------------------------------------------------ 	
});		
	</script>
</html>
