<{include "public/index_header.html"}>
	
	<!--导航-->
		<div class="about_listty_title">
			<div class="about_listt_max">
				<ul>
					<li>
						<a href="#" class="listtavt">精装新房</a>
					</li>
					<li>
						<a href="#">房屋租赁</a>
					</li>
					<li>
						<a href="#">精选二手</a>
					</li>
					<li>
						<a href="#">精选二手</a>
					</li>
				</ul>
			</div>	
		</div>
	<!--/导航-->
	<!--关于我们-->
	<section class="b_bargin" style="background: #fff;margin-bottom: 10px;">
		
		<!--详情-->
			<div class="about_list_details">
				<div class="about_list_details_title">
					惠州市尚康堂有限公司我公司
				</div>
				<div class="about_list_details_text">
					<p><img src="<{$res}>/images/about_img.jpg"/></p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
				
				</div>
			</div>
		<!--详情-->
		
	</section>
	<!--/关于我们-->
	
	
	<!--中间区块-->
	<section class="b_bargin">
		
		<div class="details_boxs">
		<!--详情标题-->
			<div class="title_details_now">
				<div class="title_details_now_title">
					惠州市尚康堂有限公司我公司
				</div>
				<div class="title_details_now_time">
					<span>发布时间：2017-11-28</span>
					<span>阅读：606次</span>
				</div>
			</div>
			<!--/详情标题-->
		<!--详情-->
			<div class="about_list_details">
				<div class="about_list_details_text">
					<p><img src="<{$res}>/images/about_img.jpg"/></p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
					<p style="font-size: 14px;">惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导</p>
				
				</div>
			</div>
		<!--详情-->
		</div>
			
		<!--上一页，下一页-->
		<div class="page_max">
			<a href="#">上一篇：刍议我国涉外婚姻的法律问题</a>
			<a href="#">下一篇：什么是国际私法？</a>
		</div>
		<!--上一页，下一页-->
		<div class="business_max" style="background: #fff;margin-bottom: 0;">
			<div class="title_lists">
				<div class="title_list_leftly">
					<span class="tebie"></span>
					<span class="tebieklyu">相关推荐</span>
				</div>
			</div>
			<!--/标题-->
			<div class="infor_max" style="display: block;">
				<!--列-->
				<a href="#" class="infor_act">
					<div class="infor_max_right">
					  11-26
					</div>
					<div class="infor_max_left">
						敬老爱亲孝当先，拗九粥香甜满园            
					</div>
				</a>
				<!--列-->
				<!--列-->
				<a href="#" class="infor_act">
					<div class="infor_max_right">
					  11-26
					</div>
					<div class="infor_max_left">
						敬老爱亲孝当先，拗九粥香甜满园            
					</div>
				</a>
				<!--列-->
				<!--列-->
				<a href="#" class="infor_act">
					<div class="infor_max_right">
					  11-26
					</div>
					<div class="infor_max_left">
						敬老爱亲孝当先，拗九粥香甜满园            
					</div>
				</a>
				<!--列-->
				<!--列-->
				<a href="#" class="infor_act">
					<div class="infor_max_right">
					  11-26
					</div>
					<div class="infor_max_left">
						敬老爱亲孝当先，拗九粥香甜满园            
					</div>
				</a>
				<!--列-->
				<!--列-->
				<a href="#" class="infor_act">
					<div class="infor_max_right">
					  11-26
					</div>
					<div class="infor_max_left">
						敬老爱亲孝当先，拗九粥香甜满园            
					</div>
				</a>
				<!--列-->
			</div>
			
		</div>
		<!--标题-->
		
		
		
		
	</section>
	<!--中间区块-->
		
		
		
		
		
		<!--右侧侧边部分-->
		<!-- 公用底部 start -->
		<{include "public/footer.html"}>
		<!-- 公用底部 end -->
		<!--/右侧导航-->
		
		
		
	</body>
	<!--轮播图...辅助样式-->
<script src="<{$res}>/js/index.js"></script>	
<script src="<{$res}>/js/simpler-sidebar.min.js"></script>	

<script type="text/javascript">
	var list_length=$(".about_listt_max ul li").length;
			console.log(list_length)
			var list_width=list_length*118;
			$(".about_listt_max ul").css("width",list_width+"px");
$(function() {
//		返回顶部
		$("#up_top").click(function(){
	        $('html').animate({scrollTop:0},500);
	   });
//------------------------------------------------------------------------------------ 	
//      导航
		$('#dowebok').simplerSidebar({
			opener: '#toggle-sidebar',
			sidebar: {
				align: 'right',
				width: 200
			}
		});
			
	   	
	   	
//------------------------------------------------------------------------------------ 	
});		
	</script>
</html>
