<{include "public/index_header.html"}>
		<!--轮播图-->
		<div class="lunbo">
			<div id="demo" class="carousel slide" data-ride="carousel">
				<!--指示符-->
				<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active">01</li>
					<li data-target="#demo" data-slide-to="1">02</li>
					<li data-target="#demo" data-slide-to="2">03</li>
				</ul>
				<!--轮播图片-->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="<{$res}>/images/wap_banner0.jpg" alt="图片描述" title="图片描述" width="100%">
					</div>
					<div class="carousel-item">
						<img src="<{$res}>/images/wap_banner1.jpg" alt="图片描述" title="图片描述" width="100%">
					</div>
					<div class="carousel-item">
						<img src="<{$res}>/images/wap_banner2.jpg" alt="图片描述" title="图片描述" width="100%">
					</div>
				</div>

			</div>
		</div>
		<!--轮播图-->
		<div class="gation_hader_maxs">
			<div class="gation_hader_maxsty">
				<!--导航-->
				<div class="gation_hader">
					<!--列-->
					<a href="#">
						<div class="gation_hader_lity">
							脊柱健康
						</div>
					</a>
					<!--/列-->
					<!--列-->
					<a href="#">
						<div class="gation_hader_lity">
							髓脊
						</div>
					</a>
					<!--/列-->
					<!--列-->
					<a href="#">
						<div class="gation_hader_lity">
							脑脊
						</div>
					</a>
					<!--/列-->
					<!--列-->
					<a href="#">
						<div class="gation_hader_lity">
							啦啦啦
						</div>
					</a>
					<!--/列-->
					<!--列-->
					<a href="#">
						<div class="gation_hader_lity">
							啦啦啦
						</div>
					</a>
					<!--/列-->
					<!--列-->
					<a href="#">
						<div class="gation_hader_lity">
							啦啦啦
						</div>
					</a>
					<!--/列-->
				</div>
				<!--/导航-->
			</div>

		</div>

		<!--中间区块-->
		<section>
			<!--楼面更新-->
			<div class="business_max" style="padding-bottom: 0px;">
				<!--标题-->
				<div class="title_lists">
					<div class="title_list_left">
						<a href="#" class="tebiekr" style="color: #34a234;">成功案例</a>
					</div>
				</div>
				<!--/标题-->

				<div class="shop_nows_max">
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img4.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								艾灸理论案例，尚康堂中华 传承艾灸
							</div>
						</a>
					</div>
					<!--/列-->
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img4.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								艾灸理论案例，尚康堂中华 传承艾灸
							</div>
						</a>
					</div>
					<!--/列-->
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img4.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								艾灸理论案例，尚康堂中华 传承艾灸
							</div>
						</a>
					</div>
					<!--/列-->
					<!--列-->
					<div class="shop_nows_max_list">
						<a href="#">
							<div class="shop_nows_max_list_img">
								<img src="<{$res}>/images/img4.jpg" alt="智能胎压" title="智能胎压">
							</div>
							<div class="shop_nows_max_list_title">
								艾灸理论案例，尚康堂中华 传承艾灸
							</div>
						</a>
					</div>
					<!--/列-->
				</div>
			</div>

			<!--企业介绍-->
			<div class="shang_about_max">
				<div class="shang_about">
					<!--标题-->
					<div class="shang_about_title">
						<div class="shang_about_text">
							<span>尚</span>
							<span class="shang_tiao"></span>
							<span>康</span>
							<span class="shang_tiao"></span>
							<span>堂</span>
						</div>
					</div>
					<div class="shang_about_listnaw">
						<span data-id="0" data-href="##1" class="actlistnaw">公司简介</span>
						<span data-id="1" data-href="##2">企业文化</span>
						<span data-id="2" data-href="##3">荣誉证书</span>
						<a id="listnaw_url" href="#">MORE &gt;&gt;</a>
					</div>
					<!--/标题-->
					<!--内容-->
					<div class="shang_about_pull">
						<a href="#">
							<div class="shang_about_pull_images">
								<img src="<{$res}>/images/img2.jpg" alt="" title="" />
							</div>
							<div class="shang_about_pull_maxs">
								<div class="shang_about_pull_text">
									111111111惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导 惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导 惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导
								</div>
							</div>
						</a>
					</div>
					<!--/内容-->
					<!--内容-->
					<div class="shang_about_pull">
						<a href="#">
							<div class="shang_about_pull_images">
								<img src="<{$res}>/images/img2.jpg" alt="" title="" />
							</div>
							<div class="shang_about_pull_maxs">
								<div class="shang_about_pull_text">
									222222222222222惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导 惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导 惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导
								</div>
							</div>
						</a>
					</div>
					<!--/内容-->
					<!--内容-->
					<div class="shang_about_pull">
						<a href="#">
							<div class="shang_about_pull_images">
								<img src="<{$res}>/images/img2.jpg" alt="" title="" />
							</div>
							<div class="shang_about_pull_maxs">
								<div class="shang_about_pull_text">
									33333333333惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导 惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导 惠州市尚康堂有限公司我公司具体地址位于惠州市惠城区江北惠民大道52号（仅限办公）,欢迎各位新老客户来我公司参观指导
								</div>
							</div>
						</a>
					</div>
					<!--/内容-->

				</div>
			</div>
			<!--/企业介绍-->

			<!--行业咨询-->
			<div class="industry_max">
				<!--标题-->
				<div class="title_lists">
					<div class="title_list_left" style="margin-bottom: 5px;">
						<a href="#" class="tebiekr" style="color: #34a234;">资讯中心</a>
					</div>
				</div>
				<div class="title_lists">
					<div class="title_list_lays"> 
						<!--acterlay-->
						<span class="tebiek acterlay">行业资讯</span> 
						<span class="hengang"></span>
						<span class="liuyang">公司动态</span>
					</div>
				</div>
				<!--/标题-->
				<!--行业咨询-->
				<div class="infor_max">
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
				</div>
				<!--/行业咨询-->
				<!--新闻动态-->
				<div class="infor_max">
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>2热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>2热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>2热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
					<!--列-->
					<div class="information_list">
						<a href="#">
							<div class="left_list1_shop_time_left">
								<div class="left_list1_shop_time_left_day">
									<span>30</span>
								</div>
								<div class="left_list1_shop_time_left_now">
									<div class="left_list1_shop_time_left_title">
										<span>2热烈祝贺我公司中标库尔勒经济技术开 发区环保管家服务项目</span>
									</div>
									<div class="left_list1_shop_time_left_yuer">
										<span>2018-08</span>
										<span>浏览：184</span>
									</div>
								</div>

							</div>
						</a>
					</div>
					<!--列-->
				</div>
				<!--/新闻动态-->
			</div>
			<!--/行业咨询-->

			<!--服务咨询-->
			<div class="zhixun">
				<a href="tel:10086">服务咨询：0752-1234 567</a>
			</div>
			<!--/服务咨询-->
			<div class="dibusty">
				<a class="dibusty_a" href="#">尚康堂科技有限公司</a>
				<span class="dibusty_p"><a href="http://www.miitbeian.gov.cn/"> 粤ICP备17232432号-1</a> Copyright© 2018</span>
				<span class="dibusty_p">技术支持：<a href="https://www.wh2013.net">万鸿信息技术</a></span>
			</div>

		</section>
		<!--中间区块-->

		<!--右侧侧边部分-->
		<!-- 公用底部 start -->
		<{include "public/footer.html"}>
		<!-- 公用底部 end -->
		<!--/右侧导航-->

	</body>
	<!--轮播图...辅助样式-->
	<script src="<{$res}>/js/index.js"></script>
	<script src="<{$res}>/js/simpler-sidebar.min.js"></script>
	<script type="text/javascript">
		$(".infor_max").eq(0).css("display","block");
	$(".title_list_lays span").click(function(){
		$(".title_list_lays span").removeClass("acterlay");
		$(this).addClass("acterlay");
	});
	$(".tebiek").click(function(){
		$(".infor_max").eq(0).css("display","block");
		$(".infor_max").eq(1).css("display","none");
	});
	$(".liuyang").click(function(){
		$(".infor_max").eq(0).css("display","none");
		$(".infor_max").eq(1).css("display","block");
	});
</script>
	<script type="text/javascript">
		$(".shang_about_pull").eq(0).css("display", "block");
		$(".shang_about_listnaw span").click(function() {
			$(".shang_about_listnaw span").removeClass("actlistnaw");
			$(this).addClass("actlistnaw");
			var that = $(this).attr("data-id");
			$(".shang_about_pull").css("display", "none");
			$(".shang_about_pull").eq(that).css("display", "block");
			var thaturl = $(this).attr("data-href");
			$("#listnaw_url").attr("href", thaturl);
		});

		var thar = $(".gation_hader a").length;
		var sums = 0;
		for(var i = 0; i < thar; i++) {
			var widht = $(".gation_hader a").eq(i).width();
			sums = sums + widht + 10 + 4;
			console.log(widht + 10 + 4);
		}
		$(".gation_hader").css("width", sums + "px");

		$(function() {
			$(".about_listt_maxs ul li").click(function() {
				$(".about_listt_maxs ul li").removeClass("list_actives");
				$(this).addClass("list_actives");
				var that = $(this).attr("id");
				$(".buss_max").css("display", "none");
				$(".buss_max").eq(that).css("display", "block");
			});

			var thatwidth = $(".te_img").length * 210;
			$(".tequang_max").css("width", thatwidth + "px");
			//		返回顶部
			$("#up_top").click(function() {
				$('html').animate({
					scrollTop: 0
				}, 500);
			});
			//------------------------------------------------------------------------------------ 	
			//      导航
			$('#dowebok').simplerSidebar({
				opener: '#toggle-sidebar',
				sidebar: {
					align: 'right',
					width: 200
				}
			});

			//------------------------------------------------------------------------------------ 	
		});
	</script>

</html>