<!--右侧侧边部分-->
<div class="sidebar" id="dowebok">
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="index.html">
                    <span class="wraplaytext">网站首页</span>
                </a>
            </li>
            <li>
                <a href="desc.html">
                    <span class="wraplaytext">关于我们</span>
                </a>
            </li>
            <li>
                <a href="list.html">
                    <span class="wraplaytext">业务范围</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="wraplaytext">案例展示</span>
                </a>
            </li>
            <li>
                <a href="list.html">
                    <span class="wraplaytext">合作伙伴</span>
                </a>
            </li>
            <li>
                <a href="desc.html">
                    <span class="wraplaytext">联系我们</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--/右侧导航-->